
<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
    <a href="#tab-1" class="tab-link active">
      <i class="fa fa-info-circle fa-2x"></i>
      <span class="tabbar-label">Information</span>
    </a>
    <a href="#tab-2" class="tab-link">
      <i class="fa fa-bar-chart-o fa-2x"></i>
      <span class="tabbar-label">Details</span>
    </a>
    <a href="#tab-3" class="tab-link">
      <i class="fa fa-comments-o fa-2x"></i>
      <span class="tabbar-label">Comments</span>
    </a>
    <a onclick="return false;" class="tab-link photoGallery" style="display:none">
      <i class="fa fa-photo fa-2x"></i>
      <span class="tabbar-label">Images</span>
    </a>
  </div>
</div>

<div class="page-content">
  <div class="tabs">
    <div class="temptabs">
      <div id="tab-1" class="tab active">

        <div class="list-block search-box">
          <ul>
            {{#if title }}
            <li><div class="item-divider">Game Title</div></li>
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner">
                  <div class="item-title">{{ title }}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
            {{#if thumbURL }}
            <li><div class="item-divider">{{ title }} Image</div></li>
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner centered">
                  <img style="" src="{{ thumbURL }}" />
                </div>
              </div>
            </li>
            {{/if}}
            {{#if boardGameRank }}
            <li><div class="item-divider">Board Game Rank</div></li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="ico-podium"></i></div>
                <div class="item-inner">
                  <div class="item-title">{{ boardGameRank }}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
            {{#if rating }}
            <li><div class="item-divider">Rating</div></li>
            <li>
              <div class="item-content">
                <div class="item-media"><i class="ico-stats-up"></i></div>
                <div class="item-inner">
                  <div class="item-title">{{ rating }}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
            {{#if description }}
            <li><div class="item-divider">Game Description</div></li>
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner multiline">
                  <div class="item-title">{{ description }}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>

      <div id="tab-2" class="tab">
        <div class="list-block search-box">
          <ul>

            {{#if playingTime }}
            <li><div class="item-divider">Playing Time</div></li>
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner">
                  <div class="item-title">{{ playingTime }} minutes</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
            {{#if minPlayers }}
            <li><div class="item-divider">Number of Players</div></li>
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner">
                  <div class="item-title">{{ minPlayers }}{{#if maxPlayers}} - {{ maxPlayers }}{{/if}}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
            {{#if minAge }}
            <li><div class="item-divider">Minimum Age</div></li>
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner">
                  <div class="item-title">{{ minAge }}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
            {{#if yearPublished }}
            <li><div class="item-divider">Year Published</div></li>
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner">
                  <div class="item-title">{{ yearPublished }}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
            {{#if publisher }}
            <li><div class="item-divider">Publisher</div></li>
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner">
                  <div class="item-title">{{ publisher }}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>

      <div id="tab-3" class="tab">
        <div class="list-block search-box">
          <ul>
            {{#each comments}}
            <li>
              <div class="item-content">
                <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
                <div class="item-inner multiline">
                  <div class="item-title">{{ this }}</div>
                  <!-- <div class="item-after">CEO</div> -->
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>

      <div id="tab-4" class="tab">
        <div class="content-block">
        </div>
      </div>
    </div>
  </div>
</div>
