<div style="padding: 40px; border: 1px solid black;">
    <h3>{{ title }} ({{ id }})</h3><hr/>
    <span>{{ description }}</span>
    <br/>
    <span>Year Published: {{ yearPublished }}</span><br/>
    <span>Type: {{ type }}</span>
</div>
