<div class="page-content">
  <div class="content-block">
      <img style="text-align:center" src="{{ thumbURL }}" />
      <h4>Year Published: {{ yearPublished }}</h4>
      <h4>Playing Time: {{ playingTime }}</h4>
      <h4>Recommended Age: {{ minAge }}+</h4>
      <br/>
      <h3>Description</h3><hr/>
      <p> {{ description }}</p>
  </div>
</div>
